.statusEnRevision {
  background-color: #f59e0b !important;
}

.statusAprobado {
  background-color: #16a34a !important;
}

.statusNoAprobado {
  background-color: #dc2626 !important;
}

.statusEnProceso {
  background-color: #ff7800 !important;
}

.statusCompletado {
  background-color: #2563eb !important;
}

.statusCierreTecnico {
  background-color: #9333ea !important;
}

.options {
  background-color: #ffffff !important;
  color: #000000 !important;
}
