.layout {
  display: flex;
  min-height: 100dvh;
  background-color: #f9fafc;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-y: auto;
}

.main {
  flex: 1;
  width: 100%;
  padding: 1.5rem;
}
